body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6ea0b1;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
.BGgray{
  background-color: #edeff5;
}

code {
  font-family: "Poppins", sans-serif;
}

.primary-color {
  color: #6ea0b1;
}
.secondary-color {
  color: #ca477d;
}

.container {
  margin: 10vh 0px;
}

.globalHeading1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #ca477d;
}
.globalHeading2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  
  color: #ca477d;
}
.globalHeading3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ca477d;
}
.globalHeading3Primary {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #6ea0b1;
}
.globalHeading4Primary {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #6ea0b1;
}

p {
  font-size: 1.2rem;
  padding-bottom: 20px;
}
.boldText{
  font-weight: bold;
}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
}

.sub-heading {
  color: #ca477d;
  font-size: medium;
  margin: 20px 0px;
}
.main-heading {
  font-size: larger;
  margin: 20px 0px;
}
.Logo {
  max-width: 150px; /* Default max-width for the logo */
}

/* Media query for tablet and larger devices */
@media (max-width: 433px) {
  .Logo {
    display: none; /* Hide the logo on tablet and smaller devices */
  }
}